.card-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    border-bottom: 2px dashed gray;
    max-width: 80%;
    box-sizing: border-box;
    gap: 10px;
}

.title-line {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

h3 {
    color: #A5DEE4;
    cursor: pointer;
    font-size: 20px;
    margin: 0;
}

h5 {
    color: darkcyan;
    margin: 0;
    font-size: 16px;
}

.card-container h5 {
    color: #666;
    transition: all 0.3s ease;
}

.card-container h5:hover {
    color: #F4A7B9;
    text-decoration: underline;
}

.card-container h5.selected {
    color: #F4A7B9;
    font-weight: bold;
}