/* 重置样式 */
* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 90%;
  margin: auto;
  padding: 10px;
  background-color: black;
}

a{
  color: #F4A7B9;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 0;
  /* 隐藏竖直滚动条 */
  height: 0;
  /* 隐藏水平滚动条 */
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  color: #ffffff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .time-line {
    display: none;
  }
}