    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

    .header-container {
        padding: 5vh;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5vh;
    }

    .header-tags {
        display: flex;
        gap: 15px;
    }

    a {
        font-family: "Roboto Mono", monospace;
    }